[Unit]
Description=WSLg Remount Service (bottle-imp)
DefaultDependencies=no
After=systemd-tmpfiles-setup.service
Before=sysinit.target
ConditionPathExists=/tmp/.X11-unix
ConditionPathIsMountPoint=!/tmp/.X11-unix
ConditionPathExists=/mnt/wslg/.X11-unix

[Mount]
What=/mnt/wslg/.X11-unix
Where=/tmp/.X11-unix
Type=none
Options=bind

[Install]
WantedBy=sysinit.target
