[Unit]
Description=bottle-imp - Kernel Persistent Storage File System
DefaultDependencies=no
Before=sysinit.target
Before=systemd-pstore.service
ConditionPathExists=/sys/fs/pstore
ConditionPathIsMountPoint=!/sys/fs/pstore

[Service]
Type=oneshot
ExecStart=/bin/mount -t pstore -o nosuid,nodev,noexec pstore /sys/fs/pstore

[Install]
WantedBy=sysinit.target
